/* style.css */

body {
    text-align: center;
    font-family: "Arial", sans-serif;
    background-image: url('matcha_beetroot.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgba(54, 69, 46, 0.9);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 100%;
    margin: 0;
    padding: 0 20px;
}

#navbar a {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
}

#navbar a:hover {
    background-color: rgba(85, 107, 47, 0.7);
    transform: scale(1.1); 
}

#cafeName a {
    color: black;
    font-family: "Lobster", sans-serif;
    font-weight: 1000;
    font-size: xx-large;
    text-decoration: underline;
}

.image-container {
    margin-top: 30px;
}

.text-container {
    font-family: "Lobster", sans-serif;
    margin-top: 10px; 
    margin-bottom: 10px;
    text-align: left;
    background-color: rgba(188, 209, 176, 0.8);
    padding: 10px;
    border-radius: 20px;
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: rgb(47, 54, 46);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.text-container h2 {
    font-size: xx-large;
 }

#footer {
    background-color: rgba(54, 69, 46, 0.9);
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 100%;
    margin: 20px 0; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer a {
    color: #fff;
    font-family: "Arial", sans-serif; 
    font-size: large; 
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s;
}

#footer a:hover {
    background-color: rgba(85, 107, 47, 0.7);
    transform: scale(1.1);
}
